p {
  margin: 0;
}

.day {
  margin-bottom: 5px;
  font-weight: bold;
}

.calendar-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

@media (max-width: 480px) {
  .calendar-container {
    width: auto;
    max-width: 0 10px;
  }
}

h2 {
  text-align: center;
  color: #333;
  font-weight: bold;
}

.month-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

button {
  margin-left: 10px;
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  will-change: box-shadow, transform;
  background: radial-gradient(
    100% 100% at 100% 0%,
    rgba(0, 212, 255, 1) 0%,
    rgba(32, 32, 84, 1) 100%
  );
  box-shadow: 0px 2px 4px rgb(32, 32, 84, 1 / 40%),
    0px 7px 13px -3px rgb(32, 32, 84, 1 / 30%),
    inset 0px -3px 0px rgb(32, 32, 84, 1 / 50%);
  padding: 0 32px;
  border-radius: 6px;
  color: #fff;
  height: 48px;
  font-size: 18px;
  text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
  transition: box-shadow 0.15s ease, transform 0.15s ease;
  margin-top: 10px;
  font-weight: bold;
  color: #fff;
  border: none;
  padding: 15px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.icons {
  width: 40px;
  outline: 0;
  border: 0;
  cursor: pointer;
  will-change: box-shadow, transform;
  background: radial-gradient(
    100% 100% at 100% 0%,
    rgba(0, 212, 255, 1) 0%,
    rgba(32, 32, 84, 1) 100%
  );
  box-shadow: 0px 2px 4px rgb(32, 32, 84, 1 / 40%),
    0px 7px 13px -3px rgb(32, 32, 84, 1 / 30%),
    inset 0px -3px 0px rgb(32, 32, 84, 1 / 50%);
  border-radius: 6px;
  font-size: 18px;
  text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
  transition: box-shadow 0.15s ease, transform 0.15s ease;
  margin-top: 10px;
  font-weight: bold;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.days-of-week {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  background: #e5faff;
  border-radius: 5px;
  margin-bottom: 10px;
}

.day-of-week {
  flex: 1;
  text-align: center;
  font-weight: bold;
}

.week-days {
  color: rgba(32, 32, 84, 1);
}

.event-list {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  width: 100%;
}

@media only screen and (min-width: 290px) and (max-width: 854px) {
  .event-list {
    gap: 0;
  }
}

.event-item {
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

@media only screen and (max-width: 480px) {
  .event-list {
    gap: 0;
  }
}

.event-item:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.played {
  background-color: rgba(32, 32, 84, 1);
  color: #fff;
}

.scheduled {
  background-color: #e5faff;
}

.add-event-btn {
  margin-left: 10px;
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  will-change: box-shadow, transform;
  background: radial-gradient(
    100% 100% at 100% 0%,
    rgba(0, 212, 255, 1) 0%,
    rgba(32, 32, 84, 1) 100%
  );
  box-shadow: 0px 2px 4px rgb(32, 32, 84, 1 / 40%),
    0px 7px 13px -3px rgb(32, 32, 84, 1 / 30%),
    inset 0px -3px 0px rgb(32, 32, 84, 1 / 50%);
  padding: 0 32px;
  border-radius: 6px;
  color: #fff;
  height: 48px;
  font-size: 18px;
  text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
  transition: box-shadow 0.15s ease, transform 0.15s ease;
  margin-top: 10px;
  font-weight: bold;
  color: #fff;
  border: none;
  padding: 15px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

.add-event-btn:hover {
  box-shadow: 0px 4px 8px rgb(45 35 66 / 40%),
    0px 7px 13px -3px rgb(45 35 66 / 30%),
    inset 0px -3px 0px rgba(32, 32, 84, 1);
  transform: translateY(-2px);
}

.add-event-btn:active {
  box-shadow: inset 0px 3px 7px rgba(32, 32, 84, 1);
  transform: translateY(2px);
}

@media only screen and (min-width: 481px) and (max-width: 854px) {
  .calendar-container {
    max-width: 90%;
    padding: 15px;
  }

  button,
  .icons,
  .add-event-btn {
    font-size: 16px;
    padding: 12px;
    height: auto;
  }

  .event-item {
    padding: 8px;
  }
}

@media only screen and (max-width: 480px) {
  .calendar-container {
    padding: 10px;
  }

  button,
  .icons,
  .add-event-btn {
    font-size: 14px;
    padding: 10px;
    height: auto;
  }

  .event-item {
    padding: 6px;
  }
}
