p {
  margin: 0;
}

.day {
  margin-bottom: 5px;
}

.calendar-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

h2 {
  text-align: center;
  color: #333;
}

.month-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.days-of-week {
  display: flex;
  justify-content: space-between;
  background-color: #eee;
  padding: 10px 0;
  border-radius: 5px;
  margin-bottom: 10px;
}

.day-of-week {
  flex: 1;
  text-align: center;
  font-weight: bold;
}

.event-list {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

@media only screen and (min-width: 290px) and (max-width: 854px) {
  .event-list {
    gap: 0;
  }
}

.event-item {
  text-align: center;
  padding: 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.event-item:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.played {
  background-color: #4caf50;
  color: #fff;
}

.scheduled {
  background-color: #2196f3;
  color: #fff;
}

.add-event-btn {
  margin-top: 10px;
  background-color: #ff5722;
  color: #fff;
  border: none;
  padding: 15px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

.add-event-btn:hover {
  background-color: #e64a19;
}
