@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Playfair+Display:wght@500&family=Poppins:wght@300&family=Roboto+Serif:opsz,wght@8..144,900&family=Poppins::wght@200;400;700;900&family=Rubik&family=Sigmar&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  /* background-color: #f9f9f9; */
  background: linear-gradient(
    to bottom right,
    rgba(2, 0, 36, 1) 0%,
    rgba(32, 32, 84, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  min-height: 100vh;
}
