.event-details-container {
  max-width: 300px;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-top: 20px;
}

.event-details {
  margin: auto;
}

span {
  font-weight: bold;
}

h4 {
  margin-bottom: 7px;
  color: rgba(32, 32, 84, 1);
}

p {
  font-size: 0.9rem;
}

.no-event-selected {
  text-align: center;
}
